<div class="card h-100" [ngStyle]="{backgroundColor:nota.categoria.color}">
  <div class="card-body">
    <h2 class="card-title">{{nota.titulo}}</h2>
    <p class="card-text">{{nota.descripcion}}<br/>
    <span class="categoria">{{nota.categoria.nombre}}</span>
    </p>
  </div>
  <div class="card-footer">
    <a href="#" class="card-link link-left" (click)="editar(modalEditarNota)"><i class="material-icons md-16">mode_edit</i> Editar</a>
    <a href="#" class="card-link link-right"><i class="material-icons md-16">delete</i> Eliminar</a>
  </div>
</div>

<!-- Modal Editar nota -->
<ng-template #modalEditarNota let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Editar nota</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="nota-titulo-edit" class="col-form-label">Titulo:</label>
        <input type="text" class="form-control" name="titulo" id="nota-titulo-edit" [(ngModel)]="nota.titulo">
      </div>
      <div class="form-group">
        <label for="nota-descripcion-edit" class="col-form-label">Descripción:</label>
        <input type="text" class="form-control" name="descripcion" id="nota-descripcion-edit" [(ngModel)]="nota.descripcion" />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
